
/* Mobile View */ 

@media(max-width: 763px){
	#main-container{
		display: grid;
		grid-template-columns: repeat(2,240px);
		grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
		height: calc(100% - 140px);

	}
	#a {
		background-color: aqua ;
	} 

	#b {
		background-color: rgb(54, 66, 66) ;
	}

	#c {
		background-color: rgb(64, 171, 233) ;
	}

	#d {
		background-color: rgb(22, 123, 206) ;
	}	

	#e {
		background-color: rgb(143, 17, 216) ;
	}

	#f {
		background-color: rgb(169, 124, 241) ;
	}

	#g {
		background-color: rgb(59, 31, 82) ;
	}

	#h {
		background-color: rgb(8, 94, 65) ;
	}

	#i {
		background-color: rgb(5, 26, 26) ;
	} 

}


/* tablet view*/

@media (min-width: 737px) and (max-width: 960px){

	#main-container{
		display: grid;
		grid-template-columns:  200px 240px 240px ;
		grid-template-rows: 75px 150px 125px 125px 80px ;
		height: calc(100% - 140px);

	}
    #a {
		background-color: rgb(255, 102, 0) ;
	} 

	#b {
		background-color: rgb(66, 64, 54) ;
	}

	#c {
		background-color: rgb(8, 38, 56) ;
	}

	#d {
		background-color: rgb(206, 22, 99) ;
	}	

	#e {
		background-color: rgb(12, 4, 17)
	}

	#f {
		background-color: rgb(169, 124, 241) ;
	}

	#g {
		background-color: rgb(4, 160, 250) ;
	}

	#h {
		background-color: rgb(22, 3, 66) ;
	}

	#i {
		background-color: rgb(5, 26, 11) ;
	} 

}

/* desdktop view*/

@media(min-width: 961px){

	#main-container{
		display: grid;
		grid-template-columns: 160px 200px 200px 200px 200px;
		grid-template-rows: 100px 200px 250px 150px;
		height: calc(100% - 140px);

	}
    #a {
		background-color: rgb(255, 0, 106) ;
	} 

	#b {
		background-color: rgb(11, 100, 45) ;
	}

	#c {
		background-color: rgb(92, 233, 64) ;
	}

	#d {
		background-color: rgb(72, 93, 110) ;
	}	

	#e {
		background-color: rgb(185, 141, 211) ;
	}

	#f {
		background-color: rgb(169, 124, 241) ;
	}

	#g {
		background-color: rgb(27, 61, 4) ;
	}

	#h {
		background-color: rgb(82, 248, 193) ;
	}

	#i {
		background-color: rgb(172, 245, 2) ;
	} 

}